@import url('https://fonts.googleapis.com/css?family=Six+Caps');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

// Typography
$base-font-family: 'Noto Serif', serif;
$display-font-family: "Graphik Web", sans-serif;
$heading-font-family: 'Six Caps', sans-serif;

.nav__site-title,
.title {
  font-family: $heading-font-family;
  font-weight: 100!important;
}

.nav__site-title {
  font-size: 72px;
  font-weight: 100;
}

.article__header .lead, 
.article__header .lead a:link, 
.article__header .lead a:visited {
	font-family: $base-font-family;
	text-transform: none!important;
	font-size: 36px;
}

.article__header {
	padding: 1.5em 0 2.5em 0;
}

h2.title {
	font-size: 3em!important;
	text-transform: uppercase;
}

h1.title {
	font-size: 5em!important;
 	text-transform: uppercase;
}

.date {
	font-family: $display-font-family;
	padding-top: .7em!important;
}

.figure__caption {
	font-family: $base-font-family!important;
}