.abler {
  .abler__row_header {
    display: none;
    @media only screen and (min-width: $break_md) {
      display: flex;
    }
    text-transform: uppercase;
    font-weight: bold;
  }
  .abler__list_item {
    border-top: 1px solid $accent;
    padding: .5rem 0 3rem;

    p {
      margin: .5rem 0;
    }
    .abler__title {
      color: $primary;
      font-size: 2rem;
      text-decoration: none;
      h2 {
        margin: 0;
      }
    }
  }
  img {
    width: 100%;
  }
}
