---
layout: default
---

{% assign item = page %}
{% include shared-includes/image-full.html %}
<main class="main">
  <div class="content">
    <article class="article article--center">
      {% include shared-includes/title-headline.html %}
      {% include shared-includes/subtitle.html %}
      {% include shared-includes/date-display.html %}
      {% include shared-includes/byline.html %}
      {{ page.content | markdownify }}
      {% include shared-includes/page.html %}
    </article>
  </div>
</main>
